.title {
	background: conic-gradient(from 180deg at 50% 50%, rgb(186, 99, 255), rgb(180, 190, 254), rgb(234, 41, 97));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
line-height: 100%;
letter-spacing: 5%;
}
