@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./reset.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: flex;
  flex-direction: column;
}

header {
  overflow: unset;
  margin: 0;
  padding: 0;
}

.menu-open {
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #313244 !important;
}